// Specific CSS for your home-page
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background:linear-gradient($background, #ff4df6);
  height: 100vh;
}

nav {
  text-align: center;
  padding-top: 4rem;

}

.image-perfil img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

nav h1 {
  color: black;
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 300;
}

section .card-links {
  margin-top: 1rem;
  text-align: center;
  background-color: black;
  border-radius: 45px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1.25rem 0;
}

section a {
  background-color: black;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 300;
}

section .card-links i {
  margin-right: 1rem;
  color: white;
  background-color: black;
}
