<nav class="container">
  <div class="image-perfil">
    <%= image_tag("perfil/perfil-photo.jpeg") %>
  </div>
  <h1>@suzannafreitas</h1>
  <h3>Girl from Rio!</h3>
</nav>

<section class="container" data-controller="test">
    <a href="#">instagram</a>
    <a href="#">instagram</a>
    <a href="#">instagram</a>
    <a href="#">instagram</a>
</section>

<footer class="container">
  <ul class="social-list">
    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-spotify"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
  </ul>
</footer>
