<nav class="container">
  <div class="image-perfil">
    <%= image_tag("perfil/perfil-photo.jpeg") %>
  </div>
  <h1>@suzannafreitas</h1>
</nav>

<section class="container">
  <div class="card-links">
    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
  </div>
  <div class="card-links">
    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
  </div>
  <div class="card-links">
    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
  </div>
  <div class="card-links">
    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
  </div>
</section>

<footer class="container">
  <ul class="social-list">
    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-spotify"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
  </ul>
</footer>
