<nav class="container">
  <a href="#">
    <%= image_tag("perfil/perfil-photo.jpeg") %>
  </a>
  <h1>@suzannafreitas</h1>
</nav>

<section class="container">
  <div class="card-links">
    <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
  </div>
</section>
